.Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background: #1a1f29;
    padding: 0.3em 0.3em 0.3em 0.3em;
    border-radius: 1em;
    margin: 1em 0 1em 0;
    width: 80%;
}

.ID {
    color: white;
    background: #1a1f29;
    padding: 0.3em 0.3em 0.3em 0.3em;
    border-radius: 1em;
    margin: 1em 0 1em 0;
    width: 80%;
}

.Wrapper span {
    margin: 0.2em 0.2em 0.2em 0.2em;
}

.Yellow {
    padding: 0.05em 0.3em 0.05em 0.3em;
    border-radius: 1em;
    background: #ffd500;
    color: white;
}

.Red {
    padding: 0.05em 0.3em 0.05em 0.3em;
    border-radius: 1em;
    background: #fa1c1c;
    color: white;
}

.Green {
    padding: 0.05em 0.3em 0.05em 0.3em;
    border-radius: 1em;
    background: #00e804;
    color: white;
}