.ExpTb {
    width: 90%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

.Exp {
    border-top: 0.07em solid rgba(255, 255, 255, 0.1);
    border-radius: 0.3em;
    width: 70%;
}

.Td {
    padding: 0.4em 0.2em 0.4em 0.2em;
    width: 15%;
    background: inherit;
}

.Yellow {
    padding: 0.05em 0.3em 0.05em 0.3em;
    border-radius: 1em;
    background: #ffd500;
    color: white;
}

.Red {
    padding: 0.05em 0.3em 0.05em 0.3em;
    border-radius: 1em;
    background: #fa1c1c;
    color: white;
}

.Green {
    padding: 0.05em 0.3em 0.05em 0.3em;
    border-radius: 1em;
    background: #00e804;
    color: white;
}