.Send {
    border: 0.1em solid white;
    border-radius: 2em;
    color: white;
    background: #242735;
    transition: color 0.4s ease, background-color 0.4s ease;
    font-size: 1.5em;
    margin: 0 0.3em 0 0.3em;
    padding: 0.1em 0.7em 0.1em 0.7em;
}

.Send:hover {
    background: white;
    color: #242735;
    cursor: pointer;
    transition: color 0.4s ease, background-color 0.4s ease;
}

.Send:active {
    color: white;
    background: #242735;
    transition: none;
}

.Input {
    padding: 0.2em 0.4em 0.2em 0.4em;
    background: #1a1f29;
    border: #1a1f29;
    border-radius: 1em;
    outline: none;
    color: white;
    font-size: 1.5em;
    height: 1.5em;
    width: 20em;
}